*       text    eol=lf
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
3rdparty/ffmpeg/darwin/arm64/ffmpeg filter=lfs diff=lfs merge=lfs -text
3rdparty/ffmpeg/darwin/x64/ffmpeg filter=lfs diff=lfs merge=lfs -text
3rdparty/ffmpeg/win32/x64/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
