{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": true,
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true
}
