/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

.wrapper {
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.hintResolution {
  padding: 4px 8px;
  background-color: rgba(40, 40, 40, 0.3);
  color: #ededed;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-size: 14px;
  user-select: none;
}
