/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

.wrapper {
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemBox {
  display: flex;
  direction: row;
}

.item {
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}

.itemRecord {
  background-color: #dd4c4ccb;
  color: rgb(218, 218, 218);
}

.itemClose {
  background-color: #9c9c9ce3;
  color: rgb(224, 224, 224);
}

.itemRecord:hover {
  background-color: #e03c3cf8;
  color: white;
}

.itemClose:hover {
  background-color: #585858f5;
  color: white;
}
