.cover {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.cursorCaptureArea {
  cursor: crosshair;
}

.cursorCaptureScreen {
  cursor: grab;
}

.options {
  position: relative;
  width: 360px;
  height: 60px;
  margin: auto;
  margin-top: 48px;
}
