.area {
  position: absolute;
}

.areaHidden {
  display: none;
}

.cursorSizeHint {
  position: absolute;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 400;
  text-decoration: none;
  user-select: none;
}

.countdownText {
  font-size: 50px;
  font-family: Roboto;
  font-weight: 1000;
  text-decoration: none;
  user-select: none;
}
