.container {
  height: 36px;
  padding: 14px 16px;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
  border-radius: 4px;
}

.divider {
  height: 100%;
  margin-left: 2px;
  border-left: 1px solid #888;
  border-right: 1px solid #333;
  margin-left: 8px;
  margin-right: 8px;
}

.audioWrapper {
  height: 100%;
}

.rounded {
  border-radius: 3px;
  overflow: hidden;
}
