.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Roboto;
  background-color: #fcfcfc;
}

.panelOptions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  row-gap: 22px;
}

.panelOptions fieldset {
  border-color: #8d8d8d;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.panelOptions legend {
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4c;
  padding: 0px 6px;
  cursor: default;
}

.optionRow {
  display: flex;
  flex-direction: row;
  padding: 8px;
  font-size: 14px;
}

.optionRow input[type='checkbox'] {
  height: 14px;
  width: 14px;
  margin: 1px 8px 0px 0px;
}

.optionRow input[type='text'] {
  appearance: none;
  outline: none;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  background-color: #fafafa;
  font-size: 15px;
  color: #555555;
  flex-grow: 1;
}

.container button {
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  background-color: #dddddd;
  font-weight: 500;
  color: #333333;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}

.container button:hover {
  background-color: #d5d5d5;
  color: #555555;
}

.container button:active {
  background-color: #a5a5a5;
}

.container button:disabled {
  border: 1px solid #cdcdcd;
  background-color: #dddddd;
  color: #9a9a9a;
}

.optionRow button {
  width: 44px;
  margin-left: 8px;
}

.panelButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 30px;
  padding: 16px;
  column-gap: 12px;
}

.panelButtons button {
  width: 80px;
}

.panelButtons button:not([disabled]):first-child {
  border-color: #3a9f3c;
  background-color: #3a9f3c;
  color: #fefefe;
}

.panelButtons button:not([disabled]):first-child:hover {
  background-color: #3a8f3c;
}

.panelButtons button:not([disabled]):first-child:active {
  background-color: #3a7f3c;
}

/* general tab */
.shortcut {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 1px solid #dddddd;
  border-radius: 2px;
  background-color: #fafafa;
}

.shortcutFocusedValid {
  border-color: #3a9f3cee !important;
  background-color: #3a9f3c11 !important;
}

.shortcutInvalid {
  color: #ff2222 !important;
  border-color: #ff222255 !important;
  background-color: #ff222211 !important;
}

.shortcutInvalid:not(:focus) + span {
  display: none;
}

#shortcutInput {
  border: 0px;
  background-color: transparent;
}

.shortcutCancelIconHidden {
  display: none;
}

.shortcutCancelIcon {
  width: 100px;
  margin: auto;
  padding: 2px 6px;
  color: #aaaaaa;
  font-size: 11px;
  font-weight: 200;
}

.shortcutCancelIcon b {
  color: #3a7f3c99;
}

/* appearances tab */
.colorInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: -10px 0px;
}

.colorInput label {
  margin-top: -2px;
}

/* react-colorful customization */
:global(.react-colorful__saturation),
:global(.react-colorful__alpha) {
  border-radius: 2px !important;
}

:global(.react-colorful__saturation-pointer) {
  width: 16px !important;
  height: 16px !important;
  border-radius: 10px !important;
}

:global(.react-colorful__hue-pointer),
:global(.react-colorful__alpha-pointer) {
  width: 14px !important;
  border-radius: 2px !important;
}

/* about tab */
.aboutContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Roboto;
  background-color: #fcfcfc;
  padding: 16px 20px;
}

.aboutAppInfo {
  display: flex;
  flex-direction: column;
}

.aboutAppTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.aboutAppInfo h2 {
  margin: 0px;
  font-size: 28px;
}

.aboutVersion {
  margin-left: 12px;
  font-size: 12px;
  font-weight: 400;
  background-color: #6f9f6f;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  align-items: flex-start;
  cursor: default;
}

.aboutLicense {
  margin: 0px;
  font-size: 16px;
  font-weight: 200;
  cursor: default;
}

.aboutLicenseUnregistered {
  color: red;
}

.aboutItems {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.aboutItem {
  display: flex;
  flex-direction: column;
}

.aboutItem h2 {
  margin: 0px;
  font-size: 17px;
  font-weight: 500;
  color: #333333;
  cursor: default;
}

.aboutShortcutKey {
  align-self: flex-start;
  font-size: 12px;
  font-weight: 400;
  color: #555555;
  background-color: #dddddd;
  padding: 8px 10px;
  border-radius: 2px;
  cursor: default;
}

.aboutShortcutPlus {
  margin: 0px 4px;
  color: #5c5c5c;
  cursor: default;
}

.aboutRegDesc:first-of-type {
  margin-top: 14px;
}

.aboutRegDesc {
  margin: 6px 0px;
  font-size: 14px;
  cursor: default;
}

.aboutRegLink {
  text-decoration: underline;
  cursor: pointer;
}

.aboutCopyright {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.aboutCopyright h2 {
  font-size: 14px;
  font-weight: 500;
  cursor: default;
}
