.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Roboto;
  background-color: #fcfcfc;
  padding: 16px 20px;
}

.appInfo {
  display: flex;
  flex-direction: column;
}

.appTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.appInfo h2 {
  margin: 0px;
  font-size: 28px;
}

.version {
  margin-left: 12px;
  font-size: 12px;
  font-weight: 400;
  background-color: #6f9f6f;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  align-items: flex-start;
  cursor: default;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
}

.item h2 {
  margin: 0px;
  font-size: 17px;
  font-weight: 500;
  color: #333333;
  cursor: default;
}

.shortcutKey {
  align-self: flex-start;
  font-size: 12px;
  font-weight: 400;
  color: #555555;
  background-color: #dddddd;
  padding: 8px 10px;
  border-radius: 2px;
  cursor: default;
}

.shortcutPlus {
  margin: 0px 4px;
  color: #5c5c5c;
  cursor: default;
}

.copyright {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.copyright h2 {
  font-size: 14px;
  font-weight: 500;
  cursor: default;
}
