.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: Roboto;
  background-color: #fcfcfc;
  padding: 16px 20px;
}

.appInfo {
  display: flex;
  flex-direction: column;
}

.appTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.appInfo h2 {
  margin: 0px;
  font-size: 28px;
}

.version {
  margin-left: 12px;
  font-size: 12px;
  font-weight: 400;
  background-color: #6f9f6f;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  align-items: flex-start;
  cursor: default;
}

.license {
  margin: 0px;
  font-size: 16px;
  font-weight: 200;
  cursor: default;
}

.licenseUnregistered {
  color: red;
}

.items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
}

.item h2 {
  margin: 0px;
  font-size: 17px;
  font-weight: 500;
  color: #333333;
  cursor: default;
}

.shortcutKey {
  align-self: flex-start;
  font-size: 12px;
  font-weight: 400;
  color: #555555;
  background-color: #dddddd;
  padding: 8px 10px;
  border-radius: 2px;
  cursor: default;
}

.shortcutPlus {
  margin: 0px 4px;
  color: #5c5c5c;
  cursor: default;
}

.regDesc:first-of-type {
  margin-top: 14px;
}

.regDesc {
  margin: 6px 0px;
  font-size: 14px;
  cursor: default;
}

.regEmail {
  font-weight: 500;
}

.regDate {
  font-weight: 500;
}

.regLink {
  text-decoration: underline;
  cursor: pointer;
}

.copyright {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.copyright h2 {
  font-size: 14px;
  font-weight: 500;
  cursor: default;
}

.modalContainer {
  width: 400px;
  height: 180px;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4c;
  cursor: default;
}

.modalBody {
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modalLicenseText {
  resize: none;
  height: 100%;
  font-size: 16px;
  border-color: #4c4c4c;
  border-radius: 2px;
  color: #555555;
}

.modalFooter {
  padding: 8px 12px 12px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalRegisterResult {
  margin: 0px;
  padding: 4px 2px;
  font-size: 14px;
}

.modalRegisterError {
  color: #d43333;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.modalButtons button {
  width: 80px;
}
