.container {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: row;
}

.btn {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 100;
  color: #eee;
  user-select: none;
  cursor: default;
  padding: 4px;
}

.btnIcon {
  height: 100%;
  width: auto;
}

.btnTitle {
  white-space: nowrap;
}

.selected {
  background-color: #58bb76;
}

.btn:not(.selected) {
  background-color: #474747;
}

.btn:hover:not(.selected) {
  background-color: #565656;
}

.btn:hover:not(.selected) span {
  filter: invert(10%);
}

.btn:active:not(.selected) {
  background-color: #545454;
}

.btn:active:not(.selected) span {
  filter: invert(1%);
}
