.container {
  display: flex;
  height: 44px;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  padding-top: 0px;
  background-color: #f0f0f0;
}

.toggled {
  background-color: #45c76c !important;
  box-shadow: inset -4px -4px 13px #42a94f;
}

.toggled img {
  filter: invert(10%) !important;
}

button {
  outline: none;
  box-shadow: none;
  border: 0px !important;
  height: 100%;
  flex-basis: 44px;
  flex-grow: 1;
  font-size: 12px;
  text-shadow: 1px 1px 4px #aaa;
  background-color: #f7f7f7 !important;
  color: #666 !important;
  border-radius: 0px !important;
}

button:hover {
  background-color: #64da87 !important;
}

button:hover img {
  filter: invert(20%) !important;
}

button:hover:not(button.toggled) {
  background-color: #e1e1e1 !important;
}

button:hover:not(button.toggled) img {
  filter: invert(10%) !important;
}

button:active {
  background-color: #6fe793 !important;
}

button:active img {
  filter: invert(30%) !important;
}

button:active:not(button.toggled) {
  filter: invert(5%) !important;
}

button:active:not(button.toggled) img {
  filter: invert(5%) !important;
}

.divider {
  height: 100%;
  margin-left: 2px;
}
