.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Roboto;
  background-color: #fcfcfc;
}

.panelOptions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 16px;
  row-gap: 16px;
}

.panelOptions fieldset {
  border-color: #8d8d8d;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.panelOptions legend {
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4c;
  padding: 0px 6px;
}

.optionRow {
  display: flex;
  flex-direction: row;
  padding: 8px;
  font-size: 14px;
}

.optionRow input[type='checkbox'] {
  height: 14px;
  width: 14px;
  margin: 1px 8px 0px 0px;
}

.optionRow input[type='text'] {
  appearance: none;
  outline: none;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  background-color: #fafafa;
  font-size: 15px;
  color: #555555;
  flex-grow: 1;
}

button {
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  background-color: #dddddd;
  font-weight: 500;
  color: #333333;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}

button:hover {
  background-color: #d5d5d5;
  color: #555555;
}

button:active {
  background-color: #a5a5a5;
}

button:disabled {
  border: 1px solid #cdcdcd;
  background-color: #dddddd;
  color: #9a9a9a;
}

.optionRow button {
  width: 44px;
  margin-left: 8px;
}

.panelButtons {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 40px;
  column-gap: 12px;
}

.panelButtons button {
  width: 80px;
}

.panelButtons button:not([disabled]):first-child {
  border-color: #3a9f3c;
  background-color: #3a9f3c;
  color: #fefefe;
}

.panelButtons button:not([disabled]):first-child:hover {
  background-color: #3a8f3c;
}

.panelButtons button:not([disabled]):first-child:active {
  background-color: #3a7f3c;
}

.shortcut {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 1px solid #dddddd;
  border-radius: 2px;
  background-color: #fafafa;
}

.shortcutFocusedValid {
  border-color: #3a9f3cee !important;
  background-color: #3a9f3c11 !important;
}

.shortcutInvalid {
  color: #ff2222 !important;
  border-color: #ff222255 !important;
  background-color: #ff222211 !important;
}

.shortcutInvalid:not(:focus) + span {
  display: none;
}

#shortcutInput {
  border: 0px;
  background-color: transparent;
}

.shortcutCancelIconHidden {
  display: none;
}

.shortcutCancelIcon {
  width: 100px;
  margin: auto;
  padding: 2px 6px;
  color: #aaaaaa;
  font-size: 11px;
  font-weight: 200;
}

.shortcutCancelIcon b {
  color: #3a7f3c99;
}
